/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/*This is some further normalization and base styles. */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


   /* Fonts from Google Fonts - more at https://fonts.google.com */
   @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
   @import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
   @import url('https://fonts.googleapis.com/css?family=Montserrat:300|Permanent+Marker|Sigmar+One');


   .content-band {
     width: auto, 1600px;
     /* temporary: */
     min-height: 100px;
   }

   .live-area {
     width: auto, 1200px;
     margin: 0 auto;
     /* temporary: */
     min-height: 100px;
   }

   h1 {
     font-family: "Sigmar One", sans-serif;
     font-size: 65px;
     text-align: left;
     line-height: 1;
     margin-bottom: 20px;
     margin-top: 20px;
   }

   h2 {
     font-family: "Montserrat", sans-serif;
     font-size: 15px;
     text-align: left;
     line-height: 1.5;
     font-weight: lighter;
     color: #808285;
     margin-bottom: 15px;
   }

   h3 {
     font-family: "Sigmar One", sans-serif;
     font-size: 25px;
     line-height: 1;
     margin-bottom: 15px;
   }

   h4 {
     font-family: "Sigmar One", sans-serif;
     font-size: 65px;
     text-align: left;
     line-height: 1;
     margin-bottom: -20px;
     margin-top: 20px;
   }





/* Responsive images base, put your images in a wrapper
img {
    display: block;
    width: 100%;
    height: auto;
}

/*Here's where you would put your Google Fonts import*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Permanent+Marker|Sigmar+One');

/* BOX MODEL SETTING FOR ALL ELEMENTS BY DEFAULT
THIS IS BETTER THAN DEFAULT, YOU SHOULD ALWAYS USE THIS:
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* END BOX MODEL SETTINGS */

body {
  font-size: 16px; /* Base Size */
  /*Setting the base font family*/
  font-family: "Source Sans Pro", Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/*Here's a sample media query for you. This one is for desktop styles.*/
/*@media only screen and (min-width: 960px) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Use this clearfix class on the parent of floated elements to clear the float! */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
